@import "bootstrap/bootstrap.less";

a {
    color: blue;
    background-color: hotpink;
}

h1 { 
    font-weight: normal; 
    font-size: 22px;
    color: red;
}

section {
    max-width: 500px;
    border: 1px solid black;
    color: blue;
    position: absolute;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.appendready {
    color: lightgreen;
}